{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="container">

        <div class="logo-container"> 
            <img src="{%static 'img/logo.png'%}" class="logo">
        </div>

       <h1>Crie sua conta no sistema</h1>
       <div class="form">
      
               <div class="container-Login">
                   <div class="imgLogin"><img src="{%static 'img/foto-usuario.png'%}" alt="" class="imgLogin"/></div>
                   <span>Cadastro do aluno</span>
               </div>
           <form method="post" action="{%url 'salvar_dados'%}">
                {%csrf_token%}
               <div>
                   <label for="nome" class="label-padrao">Nome:</label>
                   <input type="text" class="input-usuario" id="nome" name="nome"/>
               </div>
               <div>
                    <label for="email" class="label-padrao">Email:</label>
                    <input type="text" class="input-usuario" id="email" name="email"/>
                </div>
               <div>
                   <label for="senha" class="label-padrao">Crie sua Senha:</label>
                   <input type="text"  class="input-usuario" id="senha" name="senha"/>
               </div>

               <div>
                    <label for="value" class="label-padrao">Selecione seu curso:</label>
                
                    <div class="curso">
                        <label><input type="radio" name="curso" value="Administração"> Administração</label>
                        <label><input type="radio" name="curso" value="Bae e Restaurante">Bar e Restaurante</label>
                    </div>
                </div>

               <button type="submit" >Criar</button>
           </form>
       </div>
     </div>
</body>
</html>