.aprovado{
    background-color: #1acd59ab;
    padding: 8px;
    border-radius:5px ;
   
    
}

.reprovado{
    background-color: #cd471aab;
    padding: 7px;
    border-radius:5px ;
   
    
}

.titulo-tabela{
    margin: 10px;
}