{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dados.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/all.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/boletin.css'%}">
   
</head>
<body>

    <div class="sidebar2">
       
        <nav>
            <button class="abrirBotao" onclick="botaoMenu()">
                <i class="fa-solid fa-bars"></i>
            </button>
            
            <div class="sidebarMenu" id="menu">
                <h2 class="titulo">Portal Guedes</h2>
                <button class="abrirBotao2" onclick="botaoMenu()">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <a href=""><img src="{%static 'img/foto-usuario.png'%}" alt="" class="imgLogin"/></a>
                
                <div id="trigger-icon" ><a href="#"><i class="fa-solid fa-users-rectangle" ></i></a></div>
            
                <div class="hidden-options" id="options">
                    <div class="icon-container">
                        <button class="icon"> <a href="#" >Boletin</a></button>
                        <button class="icon"> <a href="{% url 'dadosUsuario' %}">Dados do aluno</a></button>
                        <button class="icon"> <a href="">Estágio</a></button>
                        <button class="icon"> <a href="">TCC</a></button>
                        <button class="icon"> <a href="{% url 'minhasAvaliacoes' %}">Minhas avaliações</a></button>
                        <button class="icon"> <a href="{% url 'horarios' %}">Horários de Aulas</a></button>

                    </div>

                    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
                    
                </div>
                  
            </div>

            <a href="{% url 'dadosUsuario' %}"><img src="{%static 'img/foto-usuario.png'%}" alt="" class="imgLogin"/></a>
            <a href="{% url 'login' %}"><i class="fas fa-home"></i></a>
            <a href="#"><i class="fa-solid fa-users-rectangle"></i></a>
            <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Sair</a>
        </nav>
    </div>

   

    <div class="content">

        <div class="logo">
            <img src="img/logo.png" alt="">
        </div>

       <div class="content">
        <h2 class="titulo">Selecione a área que deseja as notas</h2>
            <select id="opcoes" name="opcoes">
                <option value="0">Selecione uma das áreas</option>
                <option value="1">Linguagem</option>
                <option value="2">Humanas</option>
                <option value="3">Exatas e Natureza</option>
                <option value="4">Base Técnica</option>
            </select>

           <!-- Tabela Linguagem -->
        <div id="tabelaLinguagem" style="display: none;">
            <h2 class="titulo-tabela">Notas - Linguagem</h2>
            <table border="1">
                <tr>
                    <th>Disciplina</th>
                    <th>Total de Faltas</th>
                    <th>Notas do 1°B</th>
                    <th>Notas do 2°B</th>
                    <th>Notas do 3°B</th>
                    <th>Notas do 4°B</th>
                    <th>Média Final</th>
                    <th>Situação</th>
                </tr>
                <tr>
                    <td>Português</td>
                    <td>3</td>
                    <td>5.5</td>
                    <td>8.5</td>
                    <td>7.4</td>
                    <td>7.0</td>
                    <td>7.1</td>
                    <td><span class="aprovado">Aprovado</span></td>
                </tr>
                <tr>
                    <td>Inglês</td>
                    <td>1</td>
                    <td>7.4</td>
                    <td>6.0</td>
                    <td>5.5</td>
                    <td>8.5</td>
                    <td>6.85</td>
                    <td><span class="reprovado">Reprovado</span></td>
                </tr>
            </table>
        </div>

        <!-- Tabela Humanas -->
        <div id="tabelaHumanas" style="display: none;">
            <h2 class="titulo-tabela">Notas - Humanas</h2>
            <table border="1">
                <tr>
                    <th>Disciplina</th>
                    <th>Total de Faltas</th>
                    <th>Notas do 1°B</th>
                    <th>Notas do 2°B</th>
                    <th>Notas do 3°B</th>
                    <th>Notas do 4°B</th>
                    <th>Média Final</th>
                    <th>Situação</th>
                </tr>
                <tr>
                    <td>História</td>
                    <td>3</td>
                    <td>7.5</td>
                    <td>7.5</td>
                    <td>5.4</td>
                    <td>6.0</td>
                    <td>6.6</td>
                    <td><span class="reprovado">Reprovado</span></td>
                </tr>
                <tr>
                    <td>Geografia</td>
                    <td>2</td>
                    <td>10.00</td>
                    <td>8.5</td>
                    <td>9.4</td>
                    <td>5.0</td>
                    <td>8.2</td>
                    <td><span class="aprovado">Aprovado</span></td>
                </tr>
            </table>
        </div>

        <!-- Tabela Exatas e Natureza -->
        <div id="tabelaExatas" style="display: none;">
            <h2 class="titulo-tabela">Notas - Exatas e Natureza</h2>
            <table border="1">
                <tr>
                    <th>Disciplina</th>
                    <th>Total de Faltas</th>
                    <th>Notas do 1°B</th>
                    <th>Notas do 2°B</th>
                    <th>Notas do 3°B</th>
                    <th>Notas do 4°B</th>
                    <th>Média Final</th>
                    <th>Situação</th>
                </tr>
                <tr>
                    <td>Matemática</td>
                    <td>2</td>
                    <td>10.00</td>
                    <td>6.5</td>
                    <td>4.4</td>
                    <td>5.0</td>
                    <td>5.2</td>
                    <td><span class="reprovado">Reprovado</span></td>
                </tr>
                <tr>
                    <td>Física</td>
                    <td>4</td>
                    <td>10.00</td>
                    <td>8.5</td>
                    <td>9.4</td>
                    <td>7.0</td>
                    <td>8.7</td>
                    <td><span class="aprovado">Aprovado</span></td>
                </tr>
            </table>
        </div>

        <!-- Tabela Base Técnica -->
        <div id="tabelaTecnica" style="display: none;">
            <h2 class="titulo-tabela">Notas - Base Técnica</h2>
            <table border="1">
                <tr>
                    <th>Disciplina</th>
                    <th>Total de Faltas</th>
                    <th>Notas do 1°B</th>
                    <th>Notas do 2°B</th>
                    <th>Notas do 3°B</th>
                    <th>Notas do 4°B</th>
                    <th>Média Final</th>
                    <th>Situação</th>
                </tr>
                <tr>
                    <td>Matemática Financeira</td>
                    <td>2</td>
                    <td>10.00</td>
                    <td>8.5</td>
                    <td>9.4</td>
                    <td>5.0</td>
                    <td>8.2</td>
                    <td><span class="aprovado">Aprovado</span></td>
                </tr>
                <tr>
                    <td>TCC</td>
                    <td>2</td>
                    <td>10.00</td>
                    <td>4.5</td>
                    <td>3.4</td>
                    <td>5.0</td>
                    <td>5.7</td>
                    <td><span class="reprovado">Reprovado</span></td>
                </tr>
            </table>
        </div>


        
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
