{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css'%}">
    <title>Login</title>
</head>
<body>
    <div class="container">
         
        <div class="logo-container"> 
            <img src="{%static 'img/logo.png'%}" class="logo">
        </div>

        <h1>Bem-vindo(a)</h1>
       <div class="form">

            <div class="container-Login">
                <div class="imgLogin"><img src="{%static 'img/foto-usuario.png'%}" alt="" class="imgLogin"/></div>
                <span>Login</span>
            </div>
            <form method="POST" action="{% url 'login' %}">
               {% csrf_token %}
               <div>
                   <label for="email" class="label-padrao">Email:</label>
                   <input type="text" class="input-usuario" name ="email"/>
               </div>
               <div>
                   <label for="senha" class="label-padrao">Senha:</label>
                   <input type="password" class="input-senha" name = "senha"/>
               </div>
               <button type="submit">Entrar</button>
               <div class="cadastro">
                <a href="{% url 'cadastro' %}">Cadastre-se</a>

               </div>
           </form>
       </div>
     </div>
</body>
</html> 